.pagination-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.pagination-container .pagination li a {
  color: #000000;
  background-color:  rgb(255, 217, 0);
  border-color:  rgb(255, 217, 0);
}

.pagination-container .pagination li a:hover {
  color: #ffffff;
  background-color: #000000;
  border-color:  rgb(255, 217, 0);
}
